<!-- student_main.html -->
{% extends 'attendance_sys/student_main.html' %} {% block content %}
<div class="container">
  {% for message in messages %} {% if message.tags == 'error' %}
  <div class="alert alert-danger">{{ message }}</div>
  {% else %}
  <div class="alert alert-success">{{ message }}</div>
  {% endif %} {% endfor %}
  <div class="row">
    <div class="col-md-6" style="margin-top: 20px">
      <div class="card card-body">
        <center><h3>Search Your attendance</h3></center>
        <form
          class="form-horizontal"
          action="{% url 'Student searchattendance' %}"
          method="GET"
        >
          <!-- <div class="form-group">
            <input
              type="text"
              name="roll_num"
              placeholder="Enter Roll Number"
            />
          </div> -->
          <div class="form-group">
            <label for="sel1">Select Course:</label>
            <select name="course" class="form-control" id="sel1">
              <option value="CSL2060">Software Engineering : CSL 2060</option>
              <option value="CSL2050">
                Pattern Recognition & Machine Learning : CSL 2060
              </option>
              <option value="EEL2020">Digital Design : EEL 2020</option>
              <option value="MEL2020">Thermodynamics : MEL 2020</option>
            </select>
          </div>
          <button type="submit" class="btn btn-block btn-info">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
